@import '../../scss/variables';

$selectWidth: 138px;
$selectSpacing: 72px;
$labelRiseFontSize: 14px;
$selectMenuTopPosition: 5px;

.check-prize {
	text-align: right;
}

.check-prize__select-group,
.check-prize__radio-group {
	text-align: left;
}

.check-prize__radio-group {
	margin-bottom: $selectSpacing;

	p {
		color: $brandingLightColor;
		margin: 0;
	}
}

.check-prize__select-group .input-group {
	display: block;
	margin-bottom: $selectSpacing;
	text-align: left;
	width: 100%;

	@media (min-width: $breakPointMedium) {
		display: inline-block;
		width: $selectWidth;

		&:not(:first-child) {
			margin-left: $selectSpacing;
		}
	}
}

.check-prize-select {
	.Select-menu-outer {
		top: $selectMenuTopPosition;
	}
}

.check-prize__select-group .label {
	color: $brandingLightColor;
	font-size: $labelRiseFontSize;
	top: 0;
}