@import 'variables';

.contact {
	font-size: 16px;
	text-align: center;

	.contact__email,
	.contact__phone {
		display: block;
	}
}

.contact__phone {
	margin-bottom: 16px;

	a {
		border-radius: 1px;
		display: inline-block;
		padding: 5px;
	}
}

.contact__email {
	margin-bottom: 16px;
	margin-top: 42px;
}

.contact__email:last-of-type {
	margin-bottom: 42px;
	margin-top: 0;
}

@media(min-width: $breakPointMedium) {
	.contact__email {
		margin-top: 72px;
	}

	.contact__email:last-of-type {
		margin-bottom: 72px;
		margin-top: 0;
	}
}