@import 'variables';

.menu-button {
	color: $secondaryColor;
	cursor: pointer;
	display: block;
	height: 18px;
	left: 0;
	position: absolute;
	top: 18px;
	transform: rotate(0deg);
	transition: transform .5s ease-in-out;
	width: 27px;
	z-index: 5;


	@media (min-width: $breakPointMedium) {
		left: 8px;
	}

	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: $secondaryColor;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;

		&:nth-child(1) {
			top: 0;
		}

		&:nth-child(2),
		&:nth-child(3) {
			top: 8px;
		}

		&:nth-child(4) {
			top: 16px;
		}
	}

	&.menu-button--active {
		span {
			&:nth-child(1),
			&:nth-child(4) {
				top: 8px;
				width: 0%;
				left: 50%;
			}

			&:nth-child(2) {
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				transform: rotate(-45deg);
			}

		}
	}

	.header--fixed:not(.header--expanded) & {
		left: 16px;
		position: fixed;

		@media (min-width: $breakPointMedium) {
			left: 24px;
		}
	}

	@media (min-width: $breakPointLarge) {
		display: none;
	}
}