@import 'variables';

.offices {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.offices__location {
	flex-basis: 100%;
	text-align: center;
	width: 220px;

	&:not(:last-child) {
		padding-bottom: 72px;
	}

	@media (min-width: $breakPointMedium) {
		flex-basis: auto;
		padding: 0 60px;

		&:not(:last-child) {
			padding-bottom: 0;
		}
	}

	@media (min-width: $breakPointLarge) {
		flex-basis: auto;
		padding: 0 80px;
	}

	p {
		font-size: 16px;
		line-height: 23px;
		margin-bottom: 36px;

		@media (min-width: $breakPointMedium) {
			&:last-of-type {
				margin-bottom: 72px;
			}
		}
	}

	span {
		display: block;
	}
}

.office-hours {
	font-family: "Ticking Timebomb";
	font-size: 40px;
	padding-bottom: 36px;
}

.offices__location__working-days {
	font-size: 14px;
	text-transform: uppercase;
}
