@import 'variables';

.section {
	padding: 48px 16px 72px;

	&:nth-child(even),
	&:nth-child(even) .section__header__title {
		background-color: $pageColor;
	}

	&:nth-child(odd),
	&:nth-child(odd) .section__header__title {
		background-color: $secondaryColor;
	}

	@media (min-width: $breakPointMedium) {
		padding: 72px 24px 106px;
	}

	@media (min-width: $breakPointLarge) {
		padding: 86px  24px 130px;
	}
}

.section__header {
	border-top: 1px solid $brandingColor;
	margin: 0 auto;
	padding-bottom: 48px;
	width: 290px;

	@media (min-width: $breakPointMedium) {
		padding-bottom: 72px;
		width: 504px;
	}

	@media (min-width: $breakPointLarge) {
		width: 664px
	}
}

.rodo {
	margin: 0 auto;
	text-align: center;
	width: 290px;

	@media (min-width: $breakPointMedium) {
		padding-bottom: 72px;
		width: 504px;
	}

	@media (min-width: $breakPointLarge) {
		width: 664px
	}
}

.section__header__title {
	display: block;
	font-size: 16px;
	font-weight: normal;
	position: relative;
	margin: 0 55px;
	text-align: center;
	text-transform: uppercase;
	top: -10px;

	@media (min-width: $breakPointMedium) {
		font-size: 20px;
		margin: 0 150px;
	}

	@media (min-width: $breakPointLarge) {
		margin: 0 210px;
	}
}

.section__description {
	color: $brandingLightColor;
	text-align: center;
	margin: 0 0 48px;
}

.section__content--flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}