@import 'variables';

$select-input-border-width: 1px;
$select-input-height: 44px;
$select-input-internal-height: $select-input-height - $select-input-border-width * 2;
$select-padding-vertical: 11px;
$select-padding-horizontal: 24px;
$select-menu-zindex: 1000;
$select-menu-max-height: 196px;
$select-option-disabled-color: lighten($brandingColor, 60%);
$select-arrow-width: 5px;

.Select {
	position: relative;

	&,
	& div,
	& input,
	& span {
		box-sizing: border-box;
	}

	&.is-disabled .Select-arrow-zone {
		cursor: default;
		pointer-events: none;
	}
}

.Select-control {
	background-color: transparent;
	border-bottom: $select-input-border-width * 2 solid $brandingColor;
	color: $brandingColor;
	cursor: default;
	display: table;
	height: $select-input-height;
	outline: none;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.Select-placeholder,
:not(.Select--multi) > .Select-control .Select-value {
	bottom: 0;
	color: $brandingColor;
	left: 0;
	line-height: $select-input-internal-height;
	padding-left: 0;
	padding-right: $select-padding-horizontal / 2;
	position: absolute;
	right: 0;
	top: 0;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.has-value:not(.Select--multi):not(.is-focused) > .Select-control > .Select-value,
.has-value.is-pseudo-focused:not(.Select--multi) > .Select-control > .Select-value {
	.Select-value-label {
		color: $brandingColor;
	}
	a.Select-value-label {
		cursor: pointer;
		text-decoration: none;

	}
}

// fake-hide the input when the control is pseudo-focused
.has-value.is-pseudo-focused .Select-input {
	opacity: 0;
}

// fake input
.Select-control:not(.is-searchable) > .Select-input {
	outline: none;
}


// arrow indicator

.Select-arrow-zone {
	cursor: pointer;
	display: table-cell;
	position: relative;
	text-align: center;
	vertical-align: middle;
	width: ($select-arrow-width * 5);
	padding-right: $select-arrow-width;
}

.Select-arrow {
	border-color: $brandingColor transparent transparent;
	border-style: solid;
	border-width: $select-arrow-width $select-arrow-width ($select-arrow-width / 2);
	display: inline-block;
	height: 0;
	width: 0;
}
.is-open .Select-arrow,
.Select-arrow-zone:hover > .Select-arrow {
	border-top-color: $brandingColor;
}

.Select-menu-outer {
	background-color: $secondaryColor;
	border: $select-input-border-width solid $brandingColor;
	border-radius: $select-input-border-width;
	box-sizing: border-box;
	max-height: $select-menu-max-height;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: $select-menu-zindex;
	-webkit-overflow-scrolling: touch;
}

.Select-menu {
	max-height: ($select-menu-max-height - 2px);
	padding:  $select-padding-horizontal / 2 0;
	overflow-y: auto;
}

.Select-option {
	box-sizing: border-box;
	color: $brandingColor;
	cursor: pointer;
	display: block;
	padding: $select-padding-vertical $select-padding-horizontal;

	&.is-focused {
		background-color: $brandingHoverColor;
	}

	&.is-disabled {
		color: $select-option-disabled-color;
		cursor: default;
	}
}
