@import '../variables';

.contact {
	font-size: 16px;
	text-align: center;

	span {
		display: block;
	}
}

.contact__phone {
	margin-bottom: 16px;
}

.contact__fax,
.contact__email {
	margin-bottom: 42px;
}

@media(min-width: $breakPointMedium) {
	.contact__email {
		margin-bottom: 72px;
	}
}