@import '../variables';

.docs {
	text-align: center;

	p {
		color: $brandingLightColor
	}
}

.docs-select {
	margin: 42px auto 0;
	text-align: left;
	width: 200px;

	.Select-menu-outer {
		top: auto;
		bottom: 0;
	}
}