@font-face {
    font-family: 'Roboto';
    url('/fonts/Roboto-Regular-webfont.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreams';
    url('/fonts/Caviar_Dreams-webfont.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Caviar Dreams';
    url('/fonts/Caviar_Dreams_Bold-webfont.woff') format('woff'),
    font-weight: bold;
    font-style: normal;
}

html {
    font-family: Roboto, sans-serif;
}