@import '../../scss/variables';

$transition-time: 0.3s;

.button {
	background-color: transparent;
	color: $brandingColor;
	border: 1px solid $brandingColor;
	border-radius: 1px;
	cursor: pointer;
	font-size: 14px;
	line-height: 20px;
	outline: none;
	padding: 8px 15px;
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color $transition-time ease, color $transition-time ease;

	&:hover {
		background-color: $brandingColor;
		color: $secondaryColor;
	}

	&.button--secondary {
		color: $secondaryColor;
		border-color: $secondaryColor;

		&:hover {
			background-color: $secondaryColor;
			color: $brandingColor;
		}
	}

	&.button--big {
		@media (min-width: $breakPointMedium) {
			font-size: 16px;
		}
	}
}