$breakPointLarge: 1024px;
$breakPointMedium: 767px;

$brandingColor: #421536;
$brandingLightColor: #7A5B72;
$brandingHoverColor: #C6B4BC;
$secondaryColor: #FFF9F5;
$pageColor: white;

$headerHeight: 484px;
$headerHeightLargeBreakPoint: 576px;

$fixedHeaderHeight: 56px;