@import '../../scss/variables';

.languages {
	column-count: 2;
	column-gap: 0;
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 288px;

	@media (min-width: $breakPointMedium) {
		column-gap: 150px;
		width: 450px;
	}

	+ p {
		color: $brandingLightColor;
		margin: 48px 0 0;
		text-align: center;
		text-transform: uppercase;
	}
}

.languages__group {
	break-inside: avoid;
	font-size: 16px;
	padding-bottom: 10px;
	position: relative;
	width: 100px;

	padding-right: 30px;
	text-align: right;

	@media (min-width: $breakPointMedium) {
		padding-right: 50px;
	}

	&:nth-child(n+11) {
		padding-left: 30px;
		text-align: left;

		@media (min-width: $breakPointMedium) {
			padding-left: 50px;
		}

	}

	span {
		display: block;
	}
}

.languages__group__letter {
	color: $brandingLightColor;
	display: none;
	position: absolute;
	right: 0;
	text-transform: uppercase;

	.languages__group:nth-child(n+11) & {
		right: auto;
		left: 0;
	}


	@media (min-width: $breakPointMedium) {
		display: block;
	}


}